/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color:white;
  
  
 
}
* {margin:0;padding:0}
/* HTML5 display-role reset for older browsers */
/*Step 1 adding blue background and centering text in header*/

 header {
  display: block;
  position:relative;
  background-color:blue;
  text-align:center;
  Top:0px;
  height:50px;
  color:white;
 
  
}
 /*adding green color and centering navigation*/
 .nav {
    display:block;
    position:relative;
    background-color:green;
    text-align:center; 
    top:0px;
    height:25px;
    color:white;
    
     
}
  .nav li {
        display: inline;
        color:white;
        text-align:center;
        padding: 20px 20px 20px 20px;
        
    }
a:hover {
    color: white;
}
/*Step 3 Adding color to Article*/

Article {
    background-color: pink;
    position: relative;
    right: 0px;
    height: 50px;
    color: white;
    top: 0px;
    width:680px;
    text-align:center;
}
   
/*Step 4 Adding Color to Sections*/

.section {
    background-color: maroon;
    position: relative;
    right:0px;
    height: 100px;
    text-align:center;
    color: white;
    width:680px;
    top: 0px;
    text-align:center;
}
 
.break {
    background-color:pink;
    position:relative;
    right:0px;
    height:50px;
    text-align:center;
    color:white;
    width:680px;
    top:0px;
   
}
.sectiontwo {
    background-color:maroon;
    position:relative;
    right:0px;
    text-align:center;
    height:100px;
    top:0px;
    width:680px;
    color:white; 
   }
  /* Step 5 Adding Aside */
  .aside {
      
      background-color:cyan;
      position:relative;
      right:0px;
      height:300px;
      Top:-300px;
      text-align:center;
      width:50%;
      float:right;
     
          
     
  }
  .footer
  {
      background-color:green;
      position:relative;
      height:50px;
      top:0px;
      width:1360px;
      text-align:center;
      padding-bottom:0em;
    
  
      
  }
 
}
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  color:white;
}

blockquote, q {
  quotes: none;
}

  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}
